header {
    background-color: gold;
    color: black;
    text-align: center;
    padding: 30px 0;
    box-shadow: 0 4px 10px black;
}
footer {
    background-color: gold;
    text-align: center;
    padding: 25px 10px;
    margin-top: 50px;
    color: #222;
    font-style: italic;
    font-size: 1.1em;
    box-shadow: 0 4px 10px black;
}
.splash-heading {
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    padding: 25px 5px;
    width: 250px;
    height: 450px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: lightgrey;
}
.profile-img {
    border-radius: 10px;
    width: 200px;
}
.splash-text {
    font-size: 18px;
    margin: 30px;
}
.splash-img {
    width: 400px;
    display: block;
    margin: auto;
}
.team-splash-text {
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
